/*
* @Author: Lyle
* @Date:  2017/9/16 12:06
*//**!
 * @名称：base.css
 * @功能：1、重设浏览器默认样式
 *        2、设置通用原子类
 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px/24px "Microsoft YaHei", "Arial", sans-serif;
  background: #fff;
  color: #222222;
}

/*修改浏览器的滚动条*/
::-webkit-scrollbar-track-piece {
  background-color: #f5f5f5;
  border-left: 1px solid #d2d2d2;
  border-radius: 4px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
  background-clip: padding-box;
  border: 1px solid #979797;
  min-height: 28px;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  border: 1px solid #636363;
  background-color: #929292;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
}

img {
  border: none;
  vertical-align: top;
}

input {
  outline: none;
}

/*设置居中对齐*/
.center {
  width: 1000px;
  margin: 0 auto;
}

/* 设置浮动，减少浮动带来的 bug */
.clear {
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.oh {
  overflow: hidden;
}

/* 设置对齐 */
.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.tl {
  text-align: left;
}

/*引用iconfont图标库*/
@font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_388510_0oox0olzdgrv0a4i.eot');
  src: url('http://at.alicdn.com/t/font_388510_0oox0olzdgrv0a4i.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_388510_0oox0olzdgrv0a4i.woff') format('woff'),
  url('http://at.alicdn.com/t/font_388510_0oox0olzdgrv0a4i.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_388510_0oox0olzdgrv0a4i.svg#iconfont') format('svg');
}

.iconFont {
  font-family: "iconfont";
  font-size: 14px;
  font-style: normal;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
